on boot
    # Panel backlight
    chown system system /sys/class/leds/wled:backlight/brightness
    chmod 660 /sys/class/leds/wled:backlight/brightness

    # PM8941 flash
    chown system camera /sys/class/misc/pm8941-flash/device/current1
    chown system camera /sys/class/misc/pm8941-flash/device/current2
    chown system camera /sys/class/misc/pm8941-flash/device/fault_status
    chown system camera /sys/class/misc/pm8941-flash/device/fine_current1
    chown system camera /sys/class/misc/pm8941-flash/device/fine_current2
    chown system camera /sys/class/misc/pm8941-flash/device/flash_timer
    chown system camera /sys/class/misc/pm8941-flash/device/mask_clamp_current
    chown system camera /sys/class/misc/pm8941-flash/device/mask_enable
    chown system camera /sys/class/misc/pm8941-flash/device/max_current
    chown system camera /sys/class/misc/pm8941-flash/device/mode
    chown system camera /sys/class/misc/pm8941-flash/device/startup_delay
    chown system camera /sys/class/misc/pm8941-flash/device/strobe
    chown system camera /sys/class/misc/pm8941-flash/device/vph_pwr_droop

    # Clearpad
    chown system system /sys/devices/virtual/input/clearpad/pen
    chmod 0666 /sys/devices/virtual/input/clearpad/pen
    chown system system /sys/devices/virtual/input/clearpad/glove
    chmod 0666 /sys/devices/virtual/input/clearpad/glove

    # Torch
    chmod 0666 /sys/class/misc/pm8941-flash/device/mode
